
!.vscode/extensions.json
# Editor directories and files
# Local env
# Logs
*.local
*.log
*.njsproj
*.ntvs*
*.sln
*.suo
*.sw?
.DS_Store
.env
.env*
.idea
.vercel
.vscode/*
android/.gradle/
android/app/build/
android/keystore.properties
android/local.properties
dist
dist-ssr
lerna-debug.log*
logs
node_modules
npm-debug.log*
pnpm-debug.log*
public/download/
yarn-debug.log*
yarn-error.log*
